body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

header {
    margin-bottom: 50px;
}

h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 40px; /* Increased font size */
}

h2 {
    color: #006EB6;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 24px; /* Increased font size */
}

main {
    max-width: 800px; /* Increased max-width */
    margin: 0 auto;
}

section {
    text-align: left;
    margin-bottom: 50px; /* Added margin bottom for spacing */
}

p {
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

ul {
    list-style-type: none; /* Removed default list styles */
    padding: 0; /* Removed default padding */
}

li {
    margin-bottom: 10px; /* Added margin bottom for spacing */
}

footer {
    margin-top: 50px;
}

img {
    max-width: 100%; /* Make sure the image does not exceed its container width */
}

body.dark {
  background-color: #333;
  color: #fff;
}

h2 {
  color: #006EB6; 
}

body.dark h2 {
  color: #0077CC; 
}

.logo {
}
